/ = line_chart 'http://imiq-api.dev/export/daily_airtemp.json?siteids=10297'.html_safe

%div.graph{ id: "graphs_#{params[:id]}_#{params[:variable]}" }
  .loading Loading Graph...

:javascript
  var graph = new LineGraph('#graphs_#{params[:id]}_#{params[:variable]}')
  graph.loadURL('#{ImiqAPI.export_uri([params[:id]], params[:variable], { graph: true, startdate: params[:startdate], enddate: params[:enddate] }, 'json')}')