/ = line_chart 'http://imiq-api.dev/export/daily_airtemp.json?siteids=10297'.html_safe

%div.graph{ id: "graphs_#{params[:id]}_#{params[:variable]}" }
  .loading Loading Graph...
.text-muted.text-center{ style: 'margin-top: 15px;' }
  Zoom in on the graph by clicking and dragging the mouse over the desired area

:javascript
  var graph = new LineGraph('#graphs_#{params[:id]}_#{params[:variable]}')
  graph.loadURL('#{ImiqAPI.export_uri([params[:id]], params[:variable], { graph: true, startdate: params[:startdate], enddate: params[:enddate] }, 'json')}')