= form_tag '/search', remote: true, role: 'form', class: '' do
  .form-group
    = label_tag :organizationcode, 'Organizations', class: 'control-label'
    = select_tag :organizationcode, organization_option_list, prompt: 'Select an organization', class: 'form-control'

  .form-group
    = label_tag :variablename, 'Variables', class: 'control-label'
    = select_tag :variablename, options_for_select(imiq_api.variables_list['names']), prompt: 'Select a variable name', class: 'form-control'
  .form-group
    = label_tag :datatype, 'Data types', class: 'control-label'
    = select_tag :datatype, options_for_select(imiq_api.variables_list['datatypes']), prompt: 'Select a data type', class: 'form-control'
  .form-group
    = label_tag :samplemedium, 'Sample mediums', class: 'control-label'
    = select_tag :samplemedium, options_for_select(imiq_api.variables_list['samplemediums']), prompt: 'Select a sample medium',  class: 'form-control'
        
  = submit_tag 'Search', class: 'btn btn-primary pull-right'