= form_tag '/search', remote: true, role: 'form', class: 'form-horizontal', id: 'search-form' do
  = submit_tag '', style: 'width:0px; height:0px; padding:0; margin:0; display:none;' # default submit button!
  = label_tag :q, 'Keywords', class: 'control-label'
  = text_field_tag :q, params[:q], class: 'form-control'

  = label_tag :networkcode, 'Networks', class: 'control-label'
  = select_tag :networkcode, network_option_list, prompt: 'Any', class: 'form-control'

  = label_tag :organizationcode, 'Organizations', class: 'control-label'
  = select_tag :organizationcode, organization_option_list, prompt: 'Any', class: 'form-control'

  = label_tag :variablename, 'Parameters', class: 'control-label'
  / = select_tag :variablename, options_for_select(imiq_api.variables_list['names']), prompt: 'Select a variable name', class: 'form-control'
  = select_tag :variablename, grouped_options_for_select(geophysical_params), prompt: 'Any', class: 'form-control'

  = label_tag :time_step, 'Time Steps', class: 'control-label'
  = select_tag :time_step, options_for_select(timesteps), prompt: 'Any', class: 'form-control'

  = label_tag :bounds, 'Bounds', class: 'control-label'
  .row
    .col-lg-2.col-md-2
      &nbsp;
    .col-lg-5.col-md-5
      = label_tag :bounds_ll_lat, 'Latitude'
    .col-lg-5.col-md-5
      = label_tag :bounds_ll_lng, 'Longitude'
  .row{ style: 'margin-bottom: 5px;' }
    .col-lg-2.col-md-2
      %abbr{ title: 'South West' }
        = label_tag :lower_left, 'SW', class: 'control-label'

    .col-lg-5.col-md-5
      = text_field_tag 'bounds[sw_lat]', params[:bounds].try(:[], :sw_lat), class: 'form-control bounds'
    .col-lg-5.col-md-5
      = text_field_tag 'bounds[sw_lng]', params[:bounds].try(:[], :sw_lng), class: 'form-control bounds'
  .row
    .col-lg-2.col-md-2
      %abbr{ title: 'North East' }
        = label_tag :upper_right, 'NE', class: 'control-label'
    .col-lg-5.col-md-5
      = text_field_tag 'bounds[ne_lat]', params[:bounds].try(:[], :ne_lat), class: 'form-control bounds'
    .col-lg-5.col-md-5
      = text_field_tag 'bounds[ne_lng]', params[:bounds].try(:[], :ne_lng), class: 'form-control bounds'

  .text-center
    .btn-group
      = link_to '#', class: 'btn btn-default navbar-btn', data: { behavior: 'draw-aoi' }, title: 'Select bounds' do
        %i.fa.fa-pencil
        Select bounds
      = link_to '#', data: { behavior: 'clear-aoi' }, title: 'Remove Bounds', class: 'btn btn-danger navbar-btn' do
        %i.fa.fa-trash-o
        Clear selection
  / %br/
  = render 'layouts/navbar'
  / .text-right
  /   = link_to 'Reset form', '/', class: 'btn btn-default btn-danger'

:javascript
  $(document).on('aoi::drawn', function(e, layer) {
    $('#bounds_field').val(layer.getBounds().toBBoxString());
  });
  $(document).on('aoi::removed', function(e) {
    $('#bounds_field').val('');
  });
