%h1 Imiq database statistics

%h3= "Data Values 954,975,920"
%h3= "Parameters #{imiq_api.statistics['parameters']}"
%h3= "Sources #{imiq_api.statistics['sources']}"
%h3= "Networks #{imiq_api.statistics['networks']}"
