%h1 Imiq database statistics

%dl.dl-horizontal{ style: 'font-size: 1.5em;'}
  %dt Data values
  %dd= number_with_delimiter(imiq_api.statistics['data_values'])
  %dt Parameters
  %dd= imiq_api.statistics['parameters']
  %dt Sources
  %dd= imiq_api.statistics['sources']
  %dt Networks
  %dd= imiq_api.statistics['networks']

%h4
  Last updated on 
  = imiq_api.statistics['updated_at'][0...10]
