%h1 
  The data you requested is now available for download
  
%h2.text-center
  Click the following url to download it
  = link_to @url, @url

%h3{ style: 'padding-bottom: 0px; margin-bottom: 0px; border-bottom: 1px solid #000;' } Summary of download

%p{ style: 'margin-left: 10px;' }
  %b Sites:
  #{@export.sites.try(:join, ', ')}
  %br/
  %b Time range:
  #{@export.starts_at} - #{@export.ends_at}
  %br/
  %b Variables: 
  #{@export.variables.map(&:humanize).try(:join, ', ')}
  
%ul
  %li
    Data will be available for one month after initial download request.
  %li
    Data have not been subjected to QA/QC after receipt from the source, except for broad, variable-specific thresholds. Data may have been altered from their original form as part of normalization into the database and any data flagged by their source as questionable were omitted. Please examine the documentation automatically downloaded with the data and use data at your own risk.
  %li
    Please cite both the data originator and the Imiq Data Portal.  The metadata pertaining to the originator will be downloaded with the data.  The Imiq Data Portal should be cited as: 
    %p{style: "padding-left: 30px; margin-top: 0; margin-bottom: 0;"}
      %i
        Cherry, Jessica, Amy Jacobs, Tom Heinrichs, Will Fisher, Jennifer Delamere, Cheryl Haase, Philip Martin, Josh Bradley, Jennifer Jenkins, Jess Grunblatt, Greg Balogh, Imiq Hydroclimate Database at the University of Alaska Fairbanks, http://arcticlcc.org/projects/imiq/, accessed on [Date accessed].
  %li 
    If you encounter any problems trying to access your data please email us at 
    #{mail_to 'support@gina.alaska.edu', 'support@gina.alaska.edu', subject: "[IMIQ] Error downloading #{@export.id}", body: "Help with my download:\n\tExport ID: #{@export.id}\n\tPlease add any additional information about the problem below:\n"}
  
%p Thanks for using IMIQ and have a great day!