- dvars = { 'daily' => [], 'hourly' => [], 'monthly' => [], 'source' => [] }
- mindate = @sites.first.try(:begin_date)
- maxdate = @sites.first.try(:end_date)
- active_tab = "daily"
- if params['time_step'].present?
  - active_tab = "#{params['time_step']}"
- if params['variablename'].present? and params['time_step'].present?
  - select_parameter = "#{params['time_step']}_#{params['variablename']}"
- @sites.each do |site|
  - dvars['daily'] += site.derived_variables['daily']
  - dvars['hourly'] += site.derived_variables['hourly']
  - dvars['monthly'] += site.derived_variables['monthly']
  - mindate = site.begin_date if mindate.nil? || (!site.begin_date.nil? && site.begin_date < mindate)
  - maxdate = site.end_date if maxdate.nil? || (!site.end_date.nil? && site.end_date > maxdate)

= form_for @export, remote: true do |f|
  .tab-content
    #export-options.tab-pane.active
      .form-content{ style: 'padding:10px;' }
        %p.form-control-static
          %b Exporting:

          - if @sites.count > 1
            #{@sites.count} of #{@sites.total_count} sites
          - else
            - site = @sites.first
            #{site.sitename} (#{site.siteid} - #{site.sitecode})
        - if @sites.count > Export::DEFAULT_SITE_LIMIT
          .alert.alert-danger
            Due to limited resources exports are limited to #{Export::DEFAULT_SITE_LIMIT}
            sites, please contact us at imiq@articlcc.org if you need to be
            authorized to export a more sites.

        .form-group
          .row
            .col-md-2.col-sm-12
              .form-group
                = f.label :starts_at, class: 'control-label'
                = f.text_field :starts_at, value: mindate.gsub('-', '/'), class: 'form-control date-editor', placeholder: 'YYYY/MM/DD', data: { "date-minDate" => mindate, "date-maxDate" => maxdate }
            .col-md-2.col-sm-12
              .form-group
                = f.label :ends_at, class: 'control-label'
                = f.text_field :ends_at, value: maxdate.gsub('-', '/'), class: 'form-control date-editor', placeholder: 'YYYY/MM/DD', data: { "date-minDate" => mindate, "date-maxDate" => maxdate }
        .form-group
          %label Data
          %ul.nav.nav-tabs
            - dvars.each do |timestep, items|
              - next if timestep != 'source' && items.empty?
              %li{ class: timestep == "#{active_tab}" ? 'active' : '' }
                %a{ href: "##{timestep}_fields", data: { toggle: 'tab' } }= timestep.capitalize
          #export_fields.tab-content
            - dvars.each do |timestep, items|
              .tab-pane{ id: "#{timestep}_fields", class: timestep == "#{active_tab}" ? 'active' : '' }
                .form-group
                  - if timestep == "source"
                    %p
                      Calibrated, instantaneous source data from Imiq Database available by request.  Contact imiq@arcticlcc.org to check availability.
                  - else
                    %p
                      Time-averaged, summary products using one or more measurements from Imiq database.
                    - items.uniq.sort.each do |variable|
                      .checkbox
                        %label
                          = check_box :export, :variables, { multiple: true, class: 'export_variable', checked: (variable.last == select_parameter ? 'checked' : '') }, variable.last, nil
                          = variable.first
      .text-right{ style: 'padding:10px; border-top: 1px solid #efefef;' }
        = link_to 'Cancel', root_path, class: 'btn btn-default'
        %a.btn.btn-primary{ href: '#notification-options', data: { toggle: 'tab' } }
          Next
          %i.fa.fa-arrow-right
    = render 'exports/notification_pane', f: f
:javascript
  $('.date-editor').datetimepicker({
    format: 'YYYY/MM/DD'
  });
