%h1 Previous exports

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Date
      %th Percent Complete
      %th Variables
      %th Actions
  %tbody
    - @exports.each do |export|
      %tr
        %td= export.created_at
        %td= "#{export.progress / 25}%"
        %td= export.variables.map(&:humanize).try(:join, ', ')
        %td
          - unless export.download.nil?
            = link_to download_export_path(export), class: 'btn btn-primary', target: :_blank do
              %i.fa.fa-download
              Download