%nav.navbar.navbar-default.navbar-static-top.header-navbar
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li.navbar-link
        = link_to 'Map', root_url
      - if can? :read, Export
        %li.navbar-link
          = link_to 'Exports', exports_path
      - if can? :report, Export
        %li.navbar-link
          = link_to 'Export Report', report_exports_path(), remote: true
      %li.navbar-link
        = link_to 'About IMIQ', 'http://arcticlcc.org/projects/imiq/'
      %li.navbar-link
        = link_to 'Statistics', page_path('statistics')
      %li.navbar-link
        = link_to 'News', page_path('news')
      %li.navbar-link
        = link_to 'https://github.com/gina-alaska/imiq-map/issues/new', target: :_blank, data: { toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Send feedback to the IMIQ team via Github' do
          %i.fa.fa-mail-reply
          Send Feedback
      %li.navbar-link
        - if signed_in?
          = link_to logout_path do
            %i.fa.fa-sign-out
            Logout
        - else
          = link_to login_path do
            %i.fa.fa-sign-in
            Login

    .header-title
      = link_to root_url do
        = image_tag 'SetHeight50-imiqlogonotext.png'
        Imiq Data Portal

= content_for :header if content_for?(:header)
