.pull-right
  = link_to 'Home', page_path('home'), class: 'btn btn-primary'
  = link_to 'Map', maps_path, class: 'btn btn-primary'
  = link_to 'About', page_path('about'), class: 'btn btn-primary'
  = link_to 'Submit Feedback', 'https://github.com/gina-alaska/imiq-map/issues/new', class: 'btn btn-primary', target: :_blank
%h1.brand 
  IMIQ
  = yield :header
