%nav.navbar.navbar-default.navbar-fixed-bottom{ 'data-no-turbolink' => true }
  .container-fluid
    .btn-group
      = link_to 'https://github.com/gina-alaska/imiq-map/issues/new', target: :_blank, class: 'btn btn-default navbar-btn', data: { toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Send feedback to the IMIQ team via Github' do
        %i.fa.fa-mail-reply
        Send Feedback

    .navbar-right
      .btn-group
        = link_to '#', class: 'btn btn-default navbar-btn', data: { behavior: 'draw-aoi', toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Select bounds' do
          %i.fa.fa-pencil
        = link_to '#', data: { behavior: 'clear-aoi', toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Remove Bounds', class: 'btn btn-danger navbar-btn' do
          %i.fa.fa-trash-o
          
      .btn-group
        = link_to '/', class: 'btn btn-danger navbar-btn' do
          %i.fa.fa-refresh
          Reset all
      
      = hidden_field_tag :commit, 'submit', id: 'commit_value'

      -#NOTE: Restore this functionality at a later date.   
      -#.btn-group
      -#%button.btn.btn-primary.navbar-btn{ data: { behavior: 'export-sites', toggle: 'tooltip', placement: 'top', container: 'body' }, /title: 'Click here to export a list of visible sites' }
      -#%i.fa.fa-cloud-download
      -#Export site list
                
      .btn-group
        %button.btn.btn-primary.navbar-btn{ data: { behavior: 'export', toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Click here to export data for visible sites' }
          %i.fa.fa-cloud-download
          Export data
      .btn-group
        %button.btn.btn-primary.navbar-btn{ type: 'submit', data: { toggle: 'tooltip', placement: 'top', container: 'body' }, title: 'Click here to search for sites with available data' }
          %i.fa.fa-search 
          Search
        
        
      
        
